@charset "UTF-8";
/* CSS Document */


body, html {
	font-size:130%;
}
.ui-btn {
	font-size:100%;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	height:40px;
	width:40px;
}
.ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after {
	margin-left:-19px;
}

.body-content {
	background:url(../images/content-bg.png) repeat 0 0;
}

.about-content {
	background:url(../images/tree-bg.png) repeat top center;
	color:#FFF;
	text-shadow:1px 1px 0 #555;
	min-height:400px;
}

.about-content a:link {
	color:#FFF;	
}

.footer h4 a.whitelink {
	color:#FFF;
	text-decoration:none;
}

h3.ui-li-heading {
	margin-bottom:5px;
}
li p {
	margin-top:0;
}

.ui-icon-question {
	background:url(../images/icons-question-white.png) no-repeat 50% 50% rgba(0, 0, 0, 0.4);	
}

.ui-icon-loc {
	background:url(../images/icons-loc-white.png) no-repeat 50% 50% rgba(0, 0, 0, 0.4);	
}

ul.schedule-list li {
	padding-left: 10px !important;
	width:100%;
}

ul.schedule-list li h3 span {
	display: inline-block;
    width: 80px;
}
ul.schedule-list li p {
    margin-left:81px;
}


#schedule-wrapper {
	position:relative;
}

#logo-wrap {

}

img.arrow {
	display:none;
}

a.active {
	background:#f0b334 !important;
}